# Environment: development, production, or test
NODE_ENV=development

# Database URL for libsql/turso
DATABASE_URL=file:./app.db

# Server port
PORT=3000

# Telegram
TELEGRAM_BOT_TOKEN=your-telegram-api-keys

# Openrouter
OPENROUTER_API_KEY=your-openrouter-api-keys
OPENROUTER_MODEL=openrouter/free

# AUTH
JWT_SECRET=jwt-token
ACCESS_TOKEN_EXPIRES_IN_MINUTES=15m
REFRESH_TOKEN_EXPIRES_IN_DAYS=7d

# API KEY
API_KEY_SECRET=this-app-api-key-secret